footer#footer
    .container
        .row
            .col-md-3
                .footer-logo
                    img.footer-logo-img(src='/assets/logo.svg')
                    h1.footer-logo-title.logo-font NRF24
            each nav, index in website.footer.nav
               div.col-md-3.footer-section
                    h1.footer-section-title
                        = nav.title
                    ul.link-list
                        each page in nav.links
                            li
                                a(href=page.url)
                                   != page.name
    hr
    .container
        .row
            .col-lg-12
                 #copyright
                     i.fa.fa-copyright
                     | &nbsp; 2016 LNSD