footer#footer
    .container
        .row
            .col-md-3
                .footer-logo
                    img.footer-logo-img(src='/assets/logo.svg')
                    h1.footer-logo-title.logo-font NRF24
            .col-md-offset-1.col-md-4.footer-section
                h1.footer-section-title Section
                ul.link-list
                    li
                        a(href="#footer") Getting started
                    li
                        a(href="#footer") Driver architecture
                    li
                        a(href="#footer") Library examples
                    li
                        a(href="#footer") Hardware

            .col-md-4.footer-section
                h1.footer-section-title Section
                | Footer content
    hr
    .container
        .row
            .col-lg-12
                 #copyright
                     i.fa.fa-copyright
                     | &nbsp; 2016 LNSD