mixin navbar(active)
    nav.navbar.navbar-static-top
        .container-fluid
            .navbar-header
                a(href=website.navbar.index.url).navbar-brand.logo
                    if (active !== 'Home')
                        img.logo-img(src='/assets/logo.svg')
                        h1.logo-title.logo-font NRF24
                    else
                        h1.logo-title.logo-font
                            span.darker LNSD/&nbsp;
                            | NRF24

            ul.nav.navbar-nav.navbar-right
                if (active === 'Home')
                    each item in website.navbar.menu
                        if (item.name !== 'Home')
                            li
                                a(href=item.url)!=item.name
                else
                    each item in website.navbar.menu
                        li
                            a(href=item.url, class=(active === item.name)?"active":"")
                                != item.name
