mixin navbar(active)
    nav.navbar.navbar-static-top
        .container-fluid
            .navbar-header
                a(href=website.navbar.index.url).navbar-brand.logo
                    if (active !== 'Home')
                        img.logo-img(src='/assets/logo.svg')
                        h1.logo-title.logo-font NRF24
                    else
                        h1.logo-title.logo-font
                            span.darker LNSD/&nbsp;
                            | NRF24

            ul.nav.navbar-nav.navbar-right
                - var menu = website.navbar.menu
                if (active !== 'Home')
                    +navbar-item(menu[0])

                each item in menu.slice(1, menu.length)
                    if (item.name !== 'Home')
                        +navbar-item(item)




mixin navbar-item(item)
    if (item.menu !== undefined)
        +navbar-dropdown(item)
    else
        if (item.name === 'divider')
            +navbar-dropdown-divider()
        else
            if (item.url === undefined)
                +navbar-dropdown-header(item)
            else
                li
                    a(href=item.url, class=(active === item.name) ? "active" : "")
                        != item.name

mixin navbar-dropdown-header(item)
    li.dropdown-header
        != item.name

mixin navbar-dropdown-divider()
    li(role="separator").divider

mixin navbar-dropdown(item)
    li.dropdown
        a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").dropdown-toggle!=item.name
        ul.dropdown-menu
            each entry in item.menu
                +navbar-item(entry)
        //
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>