@import "base/module";
@import "components/module";

// Social media colors
$color-facebook: #3B5998 !default;
$color-twitter: #1DA1F2 !default;
$color-linkedin: #0077B5 !default;
$color-googleplus: #DD4D39 !default;
$color-github: #333 !default;
$color-instagram: #833AB4 !default;
$color-dribbble: #EA4C89 !default;

@import "vendor/bootstrap-vars";

.logo-font {
  font-family: $logo-font-family;
  font-weight: 600;
  letter-spacing: 0.075em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}