//- Layout template
doctype html
block vars
html(lang='en')
    block head
        head
            block meta
                meta(charset='utf-8')
                meta(name="viewport" content="width=device-width, initial-scale=1")

            title
                block title
                    = 'NRF24 | ' + title

            block link

            block styles
                // Styles
                link(rel='stylesheet', href='/assets/stylesheets/bundle.css')

            block fonts
                // Fonts
                link(href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet')
                link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500' rel='stylesheet')
                link(href='https://fonts.googleapis.com/css?family=Dosis:500,600' rel='stylesheet')

    block head-scripts
                // Scripts

    block body
        body
            block header
            block content
                h1 You shouldn't be watching this! :(
                    p
                        | This is worse than a 404. Please
                        a(href='mailto:contact@lnsd.es')
                        | &nbsp;email me

            block footer
                include partials/_footer
    block foot-scripts
        // Scripts