//- Home (index.html)
extends _layout

append styles
    link(rel='stylesheet', href='/assets/stylesheets/index.css')

block body
    body
        include partials/_navbar
        +navbar(title)
        header#header
            img.logo-img(src='/assets/logo.svg')
            h1.logo-title.text-center.logo-font NRF24
            p.header-brief
                a(href='https://www.arduino.cc/')
                    span.arduino-font ARDUINO
                    i.icon-arduino2
                | &nbsp;driver library for nRF24L01(+)
            ul#download.link-list
                each item in website.header.index.links
                    li
                        a(href=item.url).download-button
                            != item.name

        .header-bg
        .content
            .container
                .row
                    .col-lg-12
                        != contents

        include partials/_footer
