//- Page template
extends _layout

append styles
    link(rel='stylesheet', href='/assets/stylesheets/page.css')

include partials/_page-header

block content
    .content
        .container
            .row
                .col-lg-12
                    != contents
