//filter mixin
@mixin bg-filter($blur: 0px, $grayscale: 0, $brightness: 0) {
	-webkit-filter: blur($blur) brightness($brightness) grayscale($grayscale);
	-moz-filter: blur($blur) brightness($brightness) grayscale($grayscale);
	-o-filter: blur($blur) brightness($brightness) grayscale($grayscale);
	-ms-filter: blur($blur) brightness($brightness) grayscale($grayscale);
	filter: blur($blur) brightness($brightness) grayscale($grayscale);
}

// Snippet from: http://stackoverflow.com/questions/8514954/blur-imgs-divs-in-html-using-css
@mixin background_blurred($blur_radius:4, $overlay_color:white, $overlay_opacity:0.6) {
  position: relative;
  .background_blurred {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: url('blur.svg#blur?blur=#{$blur_radius}');
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$blur_radius}');
    transform: translateZ(0);
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $overlay_color;
      opacity: $overlay_opacity;
    }
  }
  .foreground {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}